.sliderControlContainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 4%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3rem;
    cursor: pointer;
    color: #ffffff;
    z-index: 10;
    
    .sliderControlContainer.right {
        right: 0;
    }
      
    .sliderControlContainer.left {
        left: 0;
    }

    .sliderControl {
        transition-duration: 0.4s;
        display: none;
    } 
      
    &:hover,
    &:active {
        background-color: #141414 ;
        opacity: 0.8;
        .sliderControl {
            transition-duration: 0.4s;
            display:block;
            transform: scale(1.3);
        }
    }
}
.sliderControlContainer.right{
    right: 0;
}
.sliderControlContainer.left{
    left: 0;
}